/*スマホ用　CSSを記述（本案件はモバイルファーストで制作していく。）*/
/*PC用のやつは、iPad以上をＰＣ画面から見えるように、幅は767px以下がスマホ版としよう。*/

body{
    margin:0; /*これは定型として覚えておく*/
    padding:0;/*これは定型として覚えておく*/
    /*なぜか。ブラウザによってbodyには、微妙に余白があったりして挙動が安定しないから。*/
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

header{
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
}

.header-logo img{
  width: 50px;
  height:50px;
  border-radius: 50%;
  margin-left:5%;
}

.header-logo{
  height: 100%;
  width: 80%;
}

.header-logo a{
  display:block;
  height: 100%;
}

.modal{
  display: none;
}

.menu-icon{
  display: flex;
  text-align: center;
  justify-content: flex-end;
  width: 20%;
  height: 100%;
  margin-right: 5%;
}

.menu-icon a{
  display: flex;
  text-align: center;
}

/*トップ画像*/
.top-img{
  height: 300px;
  width: 100%;
  position:relative;
  background-color: aqua;
}

.top-img img{
  height:300px;
  width: 100%;
}

.top-img h2{
  position: absolute;
  color:white;
  font-size: 50px;
  z-index: 100;
  top: 50%;
left: 50%;
transform: translate(-50%, -120%);
letter-spacing: 0.1em;

}

/*スライド部分*/
.slide-contents{
  width:100%;
  display: block;
}

.slide-imgs{
  width: 100%;
  background-color: blue;

}

.slide-contents img{
  max-height: 200px;
}

.slick-dots li button:before{
	font-size:30px!important;
  background-color: aqua;
}

.slick-slider{
  display: flex;
  width: 100%;
  background-color: blueviolet;
  position:relative;
}